// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.center {
    align-items: center;
    justify-content: center;
  }
  
.pagination {
    /* display: flex;
    padding-left: 0;
    list-style: none; */
    align-items: center;
    justify-content: center;
}
